@charset "UTF-8";
/* Animation */



.is-current .animated, .running.animated {
  -webkit-animation-play-state: running;
          animation-fill-mode: running;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-fill-mode: paused;
}

.animated.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animated.delay-1-5 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.animated.delay-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.animated.delay-2-5 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.animated.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.animated.delay-3-5 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.animated.delay-4 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.animated.delay-4-5 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.animated.delay-5 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.animated.delay-5-5 {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
.animated.delay-6 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.animated.delay-6-5 {
  -webkit-animation-delay: 6.5s;
          animation-delay: 6.5s;
}
.animated.delay-7 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.animated.slow {
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
}
.animated.speed-medium {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

@-webkit-keyframes wave {
  from{
      background-position:0 5px;
  }
  to{
      background-position:47px 5px;
  }
}
@keyframes wave {
  from{
      background-position:0 5px;
  }
  to{
      background-position:47px 5px;
  }
}
.animated.wave {
    -webkit-animation-name: wave;
            animation-name: wave;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes drift {
  from{-webkit-transform:translateX(-300px);}
  to{-webkit-transform:translateX(1600px);}
}
@keyframes drift {
  from{-webkit-transform:translateX(-300px);}
  to{-webkit-transform:translateX(1600px);}
}
@-webkit-keyframes rotate {
  0%    { -webkit-transform: rotate(0deg); }
  100%  { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes scroll {
  from{
      background-position:0 0;
  }
  to{
      background-position:0 -300px;
  }
}
@keyframes scroll {
  from{
      background-position:0 0;
  }
  to{
      background-position:0 -300px;
  }
}
@-webkit-keyframes flick {
  0%, 60%, 100%{
      opacity: 0.3;
  }
  30%{
      opacity: 1;
  }
}
@keyframes flick {
  0%, 60%, 100%{
      opacity: 0.3;
  }
  30%{
      opacity: 1;
  }
}
/* Animation */

/* http://registry.origami.ft.com/components/o-colors@2.4.4 */


/* Background and Color  */
#gamecontent {background:#333 !important;}
.transparent.slide {background:transparent;}
.o-night.slide {background-color:#333;}
#share-icon {display:none;}
/* Background and Color */


/*shared styles*/
.o-bg {
  background-position: center top;
  background-color: #275186;
  background-size: auto 100%;
}
.o-bg-radial {
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  /* IE 10 */
  background: -ms-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100%;
}
.o-red-box {
  color: white;
  padding: 5px;
  text-align: center;
  background-color: #9E2F50;
  z-index: 1;
}
.o-line {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  height: 1px;
  position: absolute;
  background-color: #9E2F50;
  margin:auto;
}
.o-red-block {
  width:20px;
  height:20px;
  background: #9E2F50;
  margin:auto;
  position: absolute;
}
/*Page 1*/
.o-bg-1 {
  background-image: url('../zhijiang/bg1.jpg');
}

.o-redtop {
  background-image: url('../zhijiang/redx2-2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right:0;
  height: 0;
  padding-top: 106%;
  width: 100%;
  max-width: 414px;
  margin:0 auto;
  background-position: center top;
}
/*
.o-redtop-container {
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height: 100%;
  display: none;
}
.o-redtop-inner {
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.o-en-title {
  font-size: 23px;
  font-family: arial;
  font-weight: bold;
  height: 1.4em;
  margin: 0 auto 14px auto;
  width: 250px;
}
.o-ch-title {
  font-size: 23px;
  font-weight: normal;
  height: 1.4em;
  margin: 0 auto 14px auto;
  width: 200px;
}
.o-ch-number {
  font-weight: bold;
  font-family: arial;
}
.o-ch-text {
  font-size: 17px;
  height: 1.4em;
  margin: 0 auto 14px auto;
  width: 280px;
}
.o-ch-small-text {
  font-size: 14px;
  top: 250px;
  left: 0;
  right: 0;
  height: 6em;
  margin: 14px auto 14px auto;
  width: 250px;
  color: white;
}
.o-ch-small-text p {
  text-align: center;
}
*/
.o-bottom-bar {
  height: 82px;
  background-color: rgba(255, 255, 255, 0.33);
  bottom: 0;
  width: 100%;
}
.o-logo {
  background-position: 0 0;
  background-size: 100% auto;
}
.o-logo-left {
  float: left;
  margin: 5px 0 0 14px;
}
.o-logo-right {
  float: right;
  margin: 5px 14px 0 0;
}
.o-logo-zhijiang {
  background-image: url("../zhijiang/sumitlogox2.png");
  width: 83px;
  height: 91px;
  background-position: -17px -14px;
}
.o-logo-FT {
  background-image: url("../zhijiang/logo1x2.png");
  width: 53px;
  height: 74px;
}
.o-logo-FTC {
  background-image: url("../zhijiang/logo2x2.png");
  width: 70px;
  height: 68px;
  background-position: 0 -2px;
}

/*page 2*/
.o-bg-2 {
  background-image: url('../zhijiang/bg2.jpg');
}
.o-upper-third {
  width: 100%;
  height: 33.33333%;
  display: table;
}
.o-upper-inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  color: white;
}
.o-upper-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.o-upper-lead {
  font-size: 15px;
  text-align: center;
}
.o-lower-two-third {
  width: 100%;
  margin: auto;
  height: 66.66667%;
  position: relative;
}
.o-box-container {
  width: 320px;
  height: 320px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.o-box-square {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 12px;
  margin: auto;
  display: table;
  background-color: #9E2F50;
}
.o-box-square-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.o-box-square-1 {
  left: 20px;
  top: 30px;
}
.o-box-square-2 {
  left: 0;
  right: 0;
  top: 0;
}
.o-box-square-3 {
  right: 20px;
  top: 15px;
}

.o-box-square-4 {
  right: 25px;
  top: 0;
  bottom:50px;
}
.o-box-square-5 {
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
}
.o-box-square-6 {
  left: 30px;
  bottom:50px;
}
.o-box-square-7 {
  right: 50px;
  bottom:30px;
}
.o-line-1 {
  left: 50px;
  right: 50%;
  top: 60px;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.o-line-2 {
  left: 50%;
  right: 50px;
  top: 30px;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.o-line-3 {
  left: 50%;
  right: -28px;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.o-line-4 {
  left: 50%;
  right: 80px;
  top: 50%;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.o-line-5 {
  left: 85%;
  width: 100px;
  top: 50%;
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
.o-line-6 {
  left: 85px;
  right: 100px;
  bottom: 80px;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}
.o-red-block-1 {
  left: 90px;
  top: 10px;
}
.o-red-block-2 {
  left: 110px;
  right: 0;
  top: 0;
}
.o-red-block-3 {
  left: 120px;
  bottom: 14px;
}
.o-red-block-4 {
  right: 20px;
  bottom: 50px;
}
/*Media Queries*/
@media only screen and (min-width: 414px) {
  .o-redtop {
    width: 414px;
    padding-top: 439px;
  }
}