@charset "UTF-8";
/* Animation */



.is-current .animated, .running.animated {
  -webkit-animation-play-state: running;
          animation-fill-mode: running;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-play-state: paused;
          animation-fill-mode: paused;
}
.animated.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.animated.delay-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.animated.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.animated.delay-4 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.animated.delay-5 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.animated.delay-6 {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
.animated.slow {
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
}
.animated.speed-medium {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
}

@-webkit-keyframes wave {
  from{
      background-position:0 5px;
  }
  to{
      background-position:47px 5px;
  }
}
@keyframes wave {
  from{
      background-position:0 5px;
  }
  to{
      background-position:47px 5px;
  }
}
.animated.wave {
    -webkit-animation-name: wave;
            animation-name: wave;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

@-webkit-keyframes drift {
  from{-webkit-transform:translateX(-300px);}
  to{-webkit-transform:translateX(1600px);}
}
@keyframes drift {
  from{-webkit-transform:translateX(-300px);}
  to{-webkit-transform:translateX(1600px);}
}
@-webkit-keyframes rotate {
  0%    { -webkit-transform: rotate(0deg); }
  100%  { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@-webkit-keyframes scroll {
  from{
      background-position:0 0;
  }
  to{
      background-position:0 -300px;
  }
}
@keyframes scroll {
  from{
      background-position:0 0;
  }
  to{
      background-position:0 -300px;
  }
}
@-webkit-keyframes flick {
  0%, 60%, 100%{
      opacity: 0.3;
  }
  30%{
      opacity: 1;
  }
}
@keyframes flick {
  0%, 60%, 100%{
      opacity: 0.3;
  }
  30%{
      opacity: 1;
  }
}
/* Animation */

/* http://registry.origami.ft.com/components/o-colors@2.4.4 */


/* Background and Color  */
#gamecontent {background:#333 !important;}
.transparent.slide {background:transparent;}
.o-night.slide {background-color:#333;}
#share-icon {display:none;}
/* Background and Color */


/*shared styles*/
.o-bg {
  background-image: url('../zhijiang/bg1.jpg');
  background-color: #275186;
  background-size: auto 100%;
}
.o-red-box {
  color: white;
  padding: 0 14px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgba(197,1,1,0.59);
}
/*Page 1*/
.o-bg-1 {
  background-position: center top;
}
.o-redtop {
  background-image: url('../zhijiang/red.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right:0;
  height: 0;
  padding-top: 106%;
  width: 100%;
  max-width: 414px;
  margin:0 auto;
  background-position: center top;
}
.o-redtop-container {
  margin: auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height: 100%;
  display: none;
}
.o-redtop-inner {
  width: 100%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.o-en-title {
  font-size: 23px;
  font-family: arial;
  font-weight: bold;
  height: 1.4em;
  margin: 0 auto 14px auto;
  width: 250px;
}
.o-ch-title {
  font-size: 23px;
  font-weight: normal;
  height: 1.4em;
  margin: 0 auto 14px auto;
  width: 200px;
}
.o-ch-number {
  font-weight: bold;
  font-family: arial;
}
.o-ch-text {
  font-size: 17px;
  height: 1.4em;
  margin: 0 auto 14px auto;
  width: 280px;
}
.o-ch-small-text {
  font-size: 14px;
  top: 250px;
  left: 0;
  right: 0;
  height: 6em;
  margin: 14px auto 14px auto;
  width: 250px;
  color: white;
}
.o-ch-small-text p {
  text-align: center;
}
.o-bottom-bar {
  height: 82px;
  background-color: rgba(255, 255, 255, 0.33);
  bottom: 0;
  width: 100%;
}
.o-logo {
  background-position: 0 0;
  background-size: 100% auto;
}
.o-logo-left {
  float: left;
  margin: 5px 0 0 14px;
}
.o-logo-right {
  float: right;
  margin: 5px 14px 0 0;
}
.o-logo-zhijiang {
  background-image: url("../zhijiang/sumitlogo.png");
  width: 83px;
  height: 91px;
  background-position: -17px -14px;
}
.o-logo-FT {
  background-image: url("../zhijiang/logo1.png");
  width: 53px;
  height: 74px;
}
.o-logo-FTC {
  background-image: url("../zhijiang/logo2.png");
  width: 70px;
  height: 68px;
  background-position: 0 -2px;
}

/*Media Queries*/
@media only screen and (min-width: 414px) {
  .o-redtop {
    width: 414px;
    padding-top: 439px;
  }
}